button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wp-block-button__link,
.button,
.reply a,
.nav-previous a,
.nav-next a,
.view-full-post a {
  line-height: 1;
  color: #fff;
  text-align: center;
  padding: 0.5em 0.75em 0.65em;
  background-color: $color__secondary;
  border-radius: 0.25rem;
  border: solid 0 transparent;
  transition: all 0.3s ease;
  display: block;

  &:hover,
  &:focus {
    background-color: $color__secondary_dark;
    color: darken(white, 5);
  }
  &:visited {
    color: white;
  }
}
.button {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 1em;
  text-decoration: none;

  &:hover,
  &:focus,
  &:visited {
    color: white;
    text-decoration: none;
  }

  &.secondary,
  &.secondary:visited {
    color: $color__text-main;
    background-color: $color__neutral_desaturated;

    &:hover,
    &:focus {
      background-color: darken($color__neutral_desaturated, 5%);
    }
  }

  &.bottom-cta {
    margin-bottom: 0;
  }
}

.main {
  &.button,
  &.wp-block-button__link {
    background: $color__accent;
    padding: 0.75em 1em;

    &:hover {
      background-color: darken($color__accent, 5);
      color: darken(white, 5);
    }
  }
  &.fullwidth {
    padding: 2em 1em;
    border-radius:0;
    display:block;
    position: relative;

    &::after{
      font-family: "FontAwesome";
      font-size: 5rem;
      color: rgba($color__neutral, 0.15);
      position: absolute;
      left: calc(50% - 2.5rem);
      top: calc(50% - 2.5rem);
      z-index: 1;
      content: "\f061";
    }
    & .container > :last-child {
      margin-bottom: 0;
    }
    h2 {
      color: #fff;
    }
  }
}
