input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color__text-input;
  border: 1px solid $color__border-input;
  border-radius: 3px;
  // padding: 3px 5px;
  padding: 0.5em 0.75em 0.65em;
  width: 100%;
  // @include font-size(1);
  line-height: 1.4;
  margin-bottom: 1em;

  &:focus {
    color: $color__text-input-focus;
  }
}

select {
  border: 1px solid $color__border-input;
}

textarea {
  width: 100%;
}

.widget-area input[type="search"] {
  width: 100%;
}
