h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0 0 0.67em;
  line-height: 110%;
  color: $color__secondary;
  word-wrap: break-word;
  flex-basis: 0;
}
h1,
h2,
h3 {
  font-family: $font__heading;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  @include font-size(2);
}
h2 {
  @include font-size(1.5);
  a,
  a:visited {
    color: $color__secondary;

    &:hover,
    &:focus,
    &:active {
      color: darken($color__secondary, 5%);
    }
  }
}
h3 {
  @include font-size(1.25);
  .site-footer & {
    color: lighten($color__secondary, 75%);
  }
}
h4,
h5,
h6 {
  font-weight: bold;
}
h4 {
  @include font-size(1.05);
}
/*h4{@include font-size(1.4);}
h5{@include font-size(1.325);}
h6{@include font-size(1.275);}*/
.page-header,
.entry-header {
  h1 {
    color: lighten($color__secondary, 75%);
    &.widget-title {
      margin-bottom: 1em;
    }
  }
  h2 {
    color: lighten($color__secondary, 75%);
    // font-family: $font__main;
    @include font-size(1.4);
  }
}
.profile-name {
  margin-bottom: 0.25em;
}
.profile-position {
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: normal;
  @include font-size(0.9);
}
