body,
button,
input,
select,
optgroup,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size(1.15);
  font-weight: 300;
  line-height: $font__line-height-body;
}

@media screen and (min-width: 600px) {
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
    @include font-size(1.3);
  }
}

@import "headings";

@import "copy";
