.widget {
  margin: 0 0 1.5em;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }

  &.hero {
    margin-bottom: 0;
  }
}
.widget-area {
  margin: 0 auto;
  &#secondary {
    max-width: 720px;
  }
  .site-footer & {
    max-width: 1280px;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
  }
}
.site-footer .footer-widget {
  flex-grow: 1;
  flex-basis: 0;

  &:first-child {
    flex-grow: 2;
  }
}
@media screen and (min-width: 720px) {
  .site-footer {
    .widget-area {
      flex-direction: row;
      justify-content: space-between;
    }
    .footer-widget {
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}
