html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote {
  margin: 0;
}
blockquote,
q {
  padding-left: 1.75em;
  position: relative;
  display: block;
  font-size: 1.25em;
  line-height: 1.4em;
  background-color: $color__neutral_desaturated;
  padding: 1.5em 1em 1.5em 3em;

  &::before,
  &::after {
    font-family: "FontAwesome";
    color: rgba($color__neutral, 0.75);
  }
  &::before {
    content: "\f10d";
    font-size: 1.5em;
    position: absolute;
    top: 0.75em;
    left: 0.75em;
  }
  &::after {
    content: "\f10e";
    font-size: 0.75em;
    padding-left: 0.25em;
    vertical-align: text-top;
    // position: absolute;
    display: inline-block;
  }
}
cite,
.author {
  text-align: right;
  font-style: italic;
  display: inline-block;
  width: 100%;
  background-color: $color__neutral_desaturated;
  padding: 0 1em 1.5em 3em;
  blockquote &,
  q & {
    width: calc(100% - 1.25em);
    margin-top: 0.25em;
    padding: 0;
  }
}

hr {
  background-color: $color__background-hr;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

@import "lists";

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

figure {
  margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";
