ul,
ol {
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1.25em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  // margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

/*--------------------------------------------------------------
### Custom lists
--------------------------------------------------------------*/
.icon-list,
.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
### Icon lists
--------------------------------------------------------------*/
.icon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  i {
    color: $color__secondary;
  }
}

@media screen and (min-width: 720px) {
  .icon-list {
    flex-direction: row;

    li {
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}
@media screen and (min-width: 720px) and (max-width: 1279px) {
  .icon-list li {
    width: 49%;
  }
  .icon-list li:nth-of-type(odd) {
    margin-left: 0;
  }
  .icon-list li:nth-of-type(even) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .icon-list li {
    width: 32%;
  }
  .icon-list li:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  .icon-list li:nth-of-type(3n) {
    margin-right: 0;
  }
}

/*--------------------------------------------------------------
### Pricing
--------------------------------------------------------------*/
.pricing-table {
  background-color: $color__neutral_light;
  padding: 1em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: 1px solid $color__background-hr;
  }
}
