$color__primary: #880b2e;
$color__primary_dark: darken($color__primary, 8%);
$color__primary_light: lighten($color__primary, 5%);
$color__secondary: #095c66;
$color__secondary_dark: darken($color__secondary, 10%);
$color__secondary_light: lighten($color__secondary, 5%);
$color__accent: #5ab40f;
$color__neutral: #fffdf8;
$color__neutral_light: lighten($color__neutral, 10%);
$color__neutral_dark: darken($color__neutral, 10%);
$color__neutral_desaturated: desaturate($color__neutral_dark, 70%);
$color__blue: #2150a9;
$color__blue_dark: darken($color__blue, 10%);
$color__blue_light: lighten($color__blue, 5%);
$color__green: #0a7c3a;
$color__red: #98210c;

$color__background-body: $color__neutral;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__secondary;
$color__link-visited: $color__secondary;
$color__link-hover: $color__secondary_dark;
$color__text-main: #292929;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
