a {
  color: $color__link;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
    text-decoration: underline;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}
.contrast,
.site-footer {
  a {
    color: lighten($color__neutral, 5%);

    &:hover,
    &:focus {
      color: darken($color__neutral, 10%);
    }
  }
}
