.main-navigation {
  clear: both;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 1em;

  ul {
    display: none;
    list-style: none;
    margin-left: 0;

    ul {
      display: none;
      margin-left: 0.8em;
      padding-left: 0;
    }

    .toggled-on {
      display: block;
    }
  }

  li {
    position: relative;
    padding: 0.6em 1em 0.8em;
  }

  a {
    position: relative;
    display: block;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.25em;
    color: $color__neutral;
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus {
      color: $color__neutral;
      border-bottom: 2px solid $color__neutral;
    }
  }

  .current_page_item > a,
  .current_page_ancestor > a,
  .current-menu-item > a,
  .current-menu-ancestor > a {
    border-bottom: 2px solid $color__neutral;
  }
}

.main-navigation .nav-menu > ul > li:first-child,
.main-navigation .nav-menu > li:first-child {
  border-top: 0;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a {
  padding-right: 48px;
}

.no-js .main-navigation ul ul {
  display: block;
}

.dropdown-toggle {
  position: absolute;
  height: 27px;
  width: 27px;
  top: 0.65em;
  right: 27px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
  font-family: "FontAwesome";
  line-height: 27px;
  background-color: $color__primary;
  content: "";
  color: $color__neutral;
  text-transform: lowercase; /* Stop screen readers from reading the text as capital letters */

  &:after {
    content: "\f078";
    font-size: 14px;
    position: relative;
    top: -3px;
    left: 1px;
    width: 27px;
  }

  &.toggle-on:after {
    content: "\f077";
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.menu-toggle {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  left: 1em;
  font-size: 1em;
  background-color: $color__primary;
  color: $color__neutral;
  transition: all ease-out 400ms;

  &.hide {
    bottom: -2.5em;
  }
}

/* Make sure the button doesn't hide when menu is open. */

.toggled .menu-toggle.hide {
  bottom: 1em;
}

/* Hovering menu */
.main-navigation {
  &.toggled {
    position: fixed;
    bottom: 2em;
    padding: 1em;
    z-index: 1;

    ul {
      max-height: calc(100vh - 8em);
      overflow-y: auto;

      ul {
        display: none;
      }
    }
  }
}

.nav-menu {
  padding: 1em;
  margin-bottom: 1.25em;
  background-color: $color__primary;
}

.main-navigation.toggled ul ul.toggled-on,
.main-navigation.toggled ul ul.toggled-on > ul {
  display: block;
}

/* Horizontal menu on wide screens */
@media screen and (min-width: 50em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
  /* Position the menu in the header */
  .main-navigation,
  .main-navigation.toggled {
    position: relative;
    margin: 0 auto;
    padding: 0 3.5em;
    background-color: $color__primary-dark;
  }

  .nav-menu {
    padding: 0;
    background-color: transparent;
  }

  .main-navigation {
    ul {
      margin-bottom: 0;
    }

    ul,
    &.toggled ul {
      max-height: none;
      padding-left: 0;
      text-align: center;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    &.toggled ul {
      overflow-y: visible;
    }

    /* Display the menu items in a horizontal order */
    li {
      // display: inline-block;

      /* Left-align drop-down menu items */
      li {
        display: block;
        text-align: left;
      }
    }
  }

  /* Add an outline on hovered and focused menu items */
  // .main-navigation a:hover,
  // .main-navigation a:focus {
  //   background: transparent;
  //   color: $color__neutral;
  // }
  .main-navigation li li a:hover,
  .main-navigation li li a:focus {
    text-decoration: none;
  }

  /* Position drop-down menus absolutely */
  .main-navigation ul ul.toggled-on {
    position: absolute;
    width: 12em;
    display: block;
    z-index: 10;
    margin-left: 0;
    background: $color__primary_dark;
  }

  .main-navigation ul ul ul.toggled-on {
    position: relative;
  }

  /* Indent 3rd level drop-down menus */
  .main-navigation ul ul ul a {
    padding-left: 2em;
  }
}

/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/
.menu-social,
.menu-social-media-container,
.social-links {
  line-height: 1;

  ul {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      min-width: 1em;
    }
  }

  li {
    a[href*="facebook.com"]::before {
      content: "\f082";
    }
    a[href*="twitter.com"]::before {
      content: "\f081";
    }
    a[href*="instagram.com"]::before {
      content: "\f16d";
    }
    a[href*="pinterest.com"]::before {
      content: "\f0d3";
    }
    a[href*="linkedin.com"]::before {
      content: "\f08c";
    }
    a[href*="behance.net"]::before {
      content: "\f1b5";
    }
    a[href*="dribbble.com"]::before {
      content: "\f17d";
    }
    a[href*="plus.google.com"]::before {
      content: "\f0d4";
    }
    a[href*="youtube.com"]::before {
      content: "\f166";
    }
    a[href*="github.com"]::before {
      content: "\f092";
    }
    a[href*="vimeo.com"]::before {
      content: "\f194";
    }
    a[href*="flickr.com"]::before {
      content: "\f16e";
    }
    a[href*="tumblr.com"]::before {
      content: "\f174";
    }

    a {
      display: block;

      &:before {
        display: inline-block;
        padding: 0 5px;
        vertical-align: top;
        font: normal normal normal 2em FontAwesome;
        text-rendering: geometricPrecision;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f0c0";
      }
    }
  }
}
.menu-social {
  ul {
    text-align: center;
  }
}

/*--------------------------------------------------------------
## Post Navigation
--------------------------------------------------------------*/

.comment-navigation,
.posts-navigation,
.post-navigation {
  padding: 0 1em;
  width: 100%;
  margin-bottom: 1.5em;

  .site-main & {
    overflow: hidden;
  }

  .nav-links {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .nav-previous,
  .nav-next {
    position: relative;
    width: 49%;

    a {
      padding-top: 1.125em;
      padding-bottom: 1.25em;
      min-height: 4.25em;
      display: flex;
      align-items: center;
      text-decoration: none;

      &::before,
      &::after {
        font-family: "FontAwesome";
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.25);
        position: absolute;
        top: 50%;
        margin-top: -1.6rem;
      }
    }
  }

  .nav-next {
    text-align: right;

    a {
      padding-left: 1em;
      padding-right: 2.75em;
      justify-content: flex-end;
    }
  }

  .nav-previous a {
    padding-left: 2.75em;
    padding-right: 1em;
  }

  .nav-previous a::before {
    content: "\f104";
    left: 0.75rem;
  }
  .nav-next a::after {
    content: "\f105";
    right: 0.75rem;
  }
  .view-full-post {
    a::after {
      content: "\f105";
      font-family: "FontAwesome";
      padding-left: 0.5em;
      vertical-align: bottom;
      color: rgba(255, 255, 255, 0.25);
    }
    .secondary::after {
      color: rgba(0, 0, 0, 0.25);
    }
  }
}
