/*--------------------------------------------------------------
### Header
--------------------------------------------------------------*/
.site-header {
  background-color: $color__neutral;
  background-size: cover;
}
.site-branding {
  padding: 1.375em 1em;
  display: flex;
  align-items: center;
}
.site-title,
.site-description {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}
.site-description {
  color: $color__primary;
}

/* Logo Icon */
.site-logo {
  position: relative;

  a {
    position: absolute;
    z-index: 10;
    top: 1em;
    left: 1em;
    display: block;
    width: 2.25em;
    height: 2em;
    padding: 0 0.25em;
    background: $color__neutral;
    border: 2px solid $color__primary;
    color: $color__primary;
    text-decoration: none;

    &:hover,
    &:focus {
      outline: 2px solid $color__neutral;
    }
  }
}
.site-firstletter {
  font-family: $font__heading;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
}
.site-logo a:hover .site-firstletter,
.site-logo a:focus .site-firstletter {
  background: $color__neutral;
  color: $color__primary;
}
.logo-text,
.logo-icon {
  fill: $color__primary;
}
.logo-text,
.logo-icon {
  display: none;
}
@media screen and (min-width: 720px) {
  .site-header {
    .blog & {
      margin-bottom: 1.5em;
    }
  }
  .home,
  .archive,
  .blog,
  .page {
    .site-logo {
      display: none;
    }
  }
  .site-title,
  .site-description {
    display: block;
  }
  .site-description {
    margin-left: 1em;
  }
  .logo-text {
    display: block;
  }
  .logo-icon {
    display: none;
  }
}

/*--------------------------------------------------------------
### Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: $color__primary;
  padding-top: 4em;
  color: $color__neutral;
}
.site-info {
  text-align: center;
  padding: 0.35em 0;
  @include font-size(0.8125);
}

/*--------------------------------------------------------------
### Hero
--------------------------------------------------------------*/
.hero {
  padding: 0 1em;
  .container .textwidget > :last-child {
    margin-bottom: 0;
  }
}
#mc_embed_signup_scroll {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  .mc-field-group {
    flex-basis: 0;
    flex-grow: 2;
  }
  #mce-EMAIL {
    padding: 0.475em 1em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #mc-embedded-subscribe {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 1em;
  }
}

/*--------------------------------------------------------------
### Callouts
--------------------------------------------------------------*/
.fullwidth {
  padding: 2em 1em;
  margin-bottom: 2em;

  .container {
   > :last-child {
     margin-bottom: 0;
   }
  }

  i {
    @include font-size(4);
  }
}
.complementary {
  background: #fbf9f3 none repeat scroll 0 0;
  margin-bottom: 0;
  &:nth-child(odd) {
    background: #f6f4ec none repeat scroll 0 0;
  }
  // &:last-child {
  //   margin-bottom: 0;
  // }
  & + p,
  & + figure {
    margin-top: 2em;
  }
  // .case-study &:first-child {
  //   margin-bottom: 0;
  // }
  // & + & {
  //   margin-bottom: 0;
  //   &:last-child {
  //     margin-bottom: 2em;
  //   }
  // }
  & + .complementary:last-of-type {
    margin-bottom: 2em;
  }
}
.contrast {
  background-color: lighten($color__secondary, 5%);
}
.bottom-cta,
.callout {
  @include font-size(1.75);
  text-align: center;
}
.bottom-cta,
.contrast {
  color: lighten($color__neutral, 5%);
  h2,
  h3,
  h4 {
    color: lighten($color__secondary, 80%);
  }
  margin-bottom: 2em;
}
.bottom-cta {
  margin-bottom: 0;
  // background-color: lighten($color__accent, 5%);
  background-color: $color__accent;
  &.button {
    margin-bottom: 0;
    display: block;
  }
}
.container {
  max-width: 720px;
  margin: 0 auto;
  &.wide {
    max-width: 1028px;
  }
}
.centered {
  text-align: center;
}

@media screen and (max-width: 719px) {
  article {
    .fullwidth {
      margin-left: -1em;
      margin-right: -1em;
    }
  }
}
@media screen and (max-width: 719px) {
  .wp-block-column.topic-featured {
    margin-left: 0;
  }
}
@media screen and (min-width: 720px) {
  .fullwidth,
  .my-term-archive {
    width: 100%;
    width: 100vw;
    left: 0;
    left: calc((-100vw + 100%) / 2);
    overflow: hidden;
    position: relative;

    .container {
      display: flex;
      align-content: center;
      align-items: flex-start;
      &.vertical {
        flex-direction: column;
        align-content: center;
        align-items: center;
      }
    }
  }
}

/*--------------------------------------------------------------
### Messages
--------------------------------------------------------------*/
.message {
  padding: 0.3em 0.5em;
  @include font-size(0.8125);
  color: $color__neutral;
  display: flex;
  align-items: center;
  width: 100%;

  &::before {
    font-family: "FontAwesome";
    font-size: 1.5em;
    color: rgba($color__neutral, 0.75);
    padding-right: 0.5em;
    vertical-align: sub;
  }
  &.info {
    background-color: rgba($color__blue, 0.65);
    &::before {
      content: "\f05a";
    }
  }
  &.warning {
    background-color: rgba($color__red, 0.65);
    &::before {
      content: "\f06a";
    }
  }
  &.success {
    background-color: rgba($color__green, 0.65);
    &::before {
      content: "\f058";
    }
  }
  .site-main > & {
    border-radius: 0.25rem;
  }
}
.featured-image {
  .message.info {
    line-height: 1;
    text-align: center;
    color: $color__neutral;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    border: 0;
  }
}

/*--------------------------------------------------------------
### WordPress JSON Editor
--------------------------------------------------------------*/
.wp-block-columns {
  width: 100%;
}
