/*--------------------------------------------------------------
### Plugins
--------------------------------------------------------------*/
.page-header {
  .post-type-archive-lesson & {
    margin-bottom: 0;
  }
}
.case-study > .entry-header {
  margin-bottom: 0;
}
.case-study {
  .wp-block-columns {
    display: flex;
    justify-content: center;
  }
}
.result-number {
  font-size: 250%;
  display: block;
}
.wp-block-column {
  &.project-summary {
    flex-grow: 2;
  }
  &.project-scope {
    flex-basis: initial;
    flex-grow: 1;
  }
}
.complementary {
  .topics-area > & {
    margin-bottom: 0;
  }
}
.topic-featured {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 34em) {
  .topic-featured {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;

    li {
      padding: 0;
      width: 48.5%;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.lesson-listing {
  background-color: #fff;
  margin-bottom: 1em;

  .featured-image {
    min-height: initial;
  }
  h3 {
    font-size: 1em;
    margin-bottom: 0.67em;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.lesson-link {
  display: block;
  article & {
    margin-bottom: 0.5em;
  }
}
@media screen and (min-width: 68em) {
  .lesson-listing {
    margin-bottom: 0;
  }
}
