/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
.format-video,
.format-audio,
.format-image,
.format-gallery,
.format-link {
  .entry-link::before {
    font-family: "FontAwesome";
    font-size: 1.5em;
    color: rgba($color__neutral, 0.75);
    padding-right: 0.25em;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    line-height: 1;
    vertical-align: sub;
    z-index: 1;
  }
}
.format-video {
  .entry-title {
    padding: 1em 0;
  }
  .video-container {
    max-width: 960px;
    margin: 0 auto;
    background-color: $color__text-main;
  }
  .video-stream {
    width: 100%;
    height: auto;
  }
}
.format-audio {
  .entry-link::before {
    content: "\f028";
  }
}
.format-image {
  .entry-link {
    &::before {
      content: "\f03e";
    }
  }
}
.format-gallery {
  .entry-link {
    &::before {
      font-family: dashicons;
      content: "\f161";
    }
  }
}
.format-link {
  .entry-link {
    &::before {
      content: "\f08e";
    }
  }
}
.format-status,
.format-quote,
.format-aside {
  .entry-header {
    p {
      margin-bottom: 0;
      color: $color__text-main;
    }
  }
}
.format-quote,
.format-aside {
  .entry-header {
    &::before {
      font-family: "FontAwesome";
      font-size: 1.25em;
      padding-right: 0.25em;
      vertical-align: sub;
    }
  }
}
.format-status {
  .entry-header {
    padding: 1.75em 1em 1.5em;
    background-color: $color__neutral_desaturated;
  }
}
.format-aside {
  .entry-content {
    &::before {
      content: "\f249";
    }
  }
}
