.site {
  overflow: hidden;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 2.5em;
  &.page,
  .lesson-listing & {
    margin: 0;
  }
}

.byline,
.updated:not(.published) {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.site-content {
  margin: 0 auto;
}
.page-content,
.entry-content,
.entry-footer,
.tag-links,
.comments-area,
.paging-navigation,
.post-details {
  max-width: 720px;
  padding: 0 1em;
  margin: 0 auto;
}
.site-branding,
.site-info {
  max-width: 960px;
  margin: 0 auto;
}

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
.page-header,
.entry-header {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  min-height: 16rem;
  background-position: 50% center;
  background-size: cover;
  background-color: $color__primary;
  margin-bottom: 3em;
  p {
    color: $color__neutral;
  }
  .archive &,
  .home & {
    text-align: center;
  }
}
.page-header {
  .post-type-archive-lesson & {
    margin-bottom: 0;
  }
  .page-title,
  .taxonomy-description {
    max-width: 720px;
  }
}
.format-quote,
.format-status {
  .entry-header {
    background-color: $color__neutral_desaturated;
    padding: 0;
  }
}
.loop-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .loop-items {
    padding: 0 1em;
    flex-direction: row;
    .hentry {
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1279px) {
  .loop-items {
    .hentry {
      width: 49%;
      &:nth-of-type(odd) {
        margin-left: 0;
      }
      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .loop-items {
    .hentry {
      width: 32%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-of-type(3n + 1) {
        margin-left: 0;
      }
    }
  }
}

/*--------------------------------------------------------------
## Article Sections
--------------------------------------------------------------*/
.entry-header {
  position: relative;
  margin: 0 auto 1em;
  .single &,
  .page & {
    margin-bottom: 3em;
    padding: 3em 0;
  }
  .lesson-listing & {
    margin-bottom: 0;
  }
  .message {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
  }
}
.entry-title {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
}
.entry-content {
  .single & {
    margin-bottom: 1.5em;
  }
}
.entry-footer {
  @include font-size(0.95);
  span {
    margin-left: 1rem;
    &:first-child {
      margin-left: 0;
    }
  }
}
.entry-link {
  display: flex;
  flex: 1;
  width: 100%;
  align-content: center;
  align-items: center;
  padding: 0 1em;
  flex-direction: column;
  justify-content: center;
}
a.entry-link {
  color: lighten($color__secondary, 75%);
}

/* Meta */
.entry-meta {
  text-align: center;
  margin: 1em auto 0;
  background: url("images/paws.svg") repeat-x scroll right center;
  width: 100%;
  position: absolute;
  bottom: 0;
  .entry-meta-inside {
    background: $color__neutral none;
    display: inline-block;
    padding: 0 1em;
  }
}
.paws {
  fill: rgba(0, 0, 0, 0.5);
}
.single,
.page {
  .entry-meta {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    background-position: left center;
    bottom: 0;
  }
}
.author-byline,
.second-bar::after,
.homepage-video::before {
  background: rgba(0, 0, 0, 0) url(“images/TwirlyWhiskers.svg”) repeat scroll 0
    0;
  font-size: 0.8em;
  letter-spacing: 2px;
}

/*--------------------------------------------------------------
## Components
--------------------------------------------------------------*/
@import "components";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "post-formats";

/*--------------------------------------------------------------
## Plugins
--------------------------------------------------------------*/
@import "plugins";
